.coverContainer {
    background-color: #373d44;
    border-radius: 0.5em;
    color: white;
    width: 90%!important;
    .high {
        color: rgb(0, 207, 0);
        font-weight: bold;
    }
    .low {
        color: red;
        font-weight: bold;
    }
}

